<mat-card>
    <mat-card-header>
        <mat-card-title>{{title}} client role</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form novalidate (ngSubmit)="saveClientRole" [formGroup]="clientRoleFormGroup">

         <mat-form-field appereance="fill" class="formField">
             <mat-label>Code</mat-label>
             <input matInput placeholder="Code"  formControlName="code">
             <mat-hint>Code is required and nedds to be unique</mat-hint>
         </mat-form-field>   

         <mat-form-field appereance="fill" class="formField">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Manager"  formControlName="name">
        </mat-form-field>   

        <mat-form-field appereance="fill" class="FormField">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Role description"  formControlName="description">
        </mat-form-field>   
    </form>
    </mat-card-content>
</mat-card>
